<div class="row">
  <div class="col-12">
    <div class="homeslides">
      <ngb-carousel *ngIf="images" [interval]="3000">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper card">
            <div class="slogan">
              <h1 class="align-middle">Make your time</h1>
              <h1 class="align-middle">perfect with</h1>
              <h1 class="align-middle">the perfect watch.</h1>
            </div>
            <img
              [src]="images[0]"
              alt="Random first slide"
              (click)="navigateToShopFossil()"
            />
          </div>
          <div class="carousel-caption"></div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              [src]="images[1]"
              alt="Random second slide"
              (click)="navigateToShopTissot()"
            />
          </div>
          <div class="carousel-caption"></div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              [src]="images[2]"
              alt="Random third slide"
              (click)="navigateToShopCasio()"
            />
          </div>
          <div class="carousel-caption"></div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
