<div class="card">
  <div *ngIf="totalLength != 0">
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <h4><b>Shopping Cart</b></h4>
            </div>
            <div class="col align-self-center text-right text-muted">
              {{ totalLength }} items
            </div>
          </div>
        </div>
        <div
          class="row border-top"
          *ngFor="
            let watch of watches
              | paginate
                : {
                    itemsPerPage: 3,
                    currentPage: page,
                    totalItems: totalLength
                  }
          "
        >
          <div class="row main align-items-center">
            <div class="col-2">
              <img class="img-fluid" src="{{ watch.imagePath }}" />
            </div>
            <div class="col">
              <div class="row text-muted">{{ watch.brand.brandName }}</div>
              <div class="row">{{ watch.model }}</div>
            </div>
            <div class="col">
              <input
                class="form-control"
                name="quantity"
                type="number"
                [value]="watch.quantity"
                min="0"
                [max]="watch.available"
              />
            </div>
            <div class="col">
              $ {{ watch.price * watch["quantity"] }}
              <span class="close" (click)="deleteWatchFromCart(watch.watchId)"
                >&#10005;</span
              >
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>

        <div class="back-to-shop">
          <a routerLink="/products">&leftarrow;</a
          ><span class="text-muted">Back to shop</span>
        </div>
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <hr />
        <div class="row">
          <div class="col" style="padding-left: 0">ITEMS {{ totalLength }}</div>
          <div class="col text-right">$ {{ totalPrice - 5 }}</div>
        </div>
        <form>
          <p>SHIPPING</p>
          <select>
            <option class="text-muted">Standard-Delivery- &euro;5.00</option>
          </select>
        </form>
        <div
          class="row"
          style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
        >
          <div class="col">TOTAL PRICE</div>
          <div class="col text-right">$ {{ totalPrice }}</div>
        </div>
        <button
          class="btn btn-lg"
          routerLink="/checkout"
          [state]="{
            cart: cart,
            watches: watches,
            totalPrice: totalPrice,
            totalLength: totalLength
          }"
        >
          CHECKOUT
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="totalLength == 0">
    <h4>Your cart is empty.</h4>
    <div class="back-to-shop">
      <a routerLink="/products">&leftarrow;</a
      ><span class="text-muted">Back to shop</span>
    </div>
  </div>
</div>
